{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="navbar tm-main-nav">

<!--                        <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#tmNavbar">-->
<!--                            &#9776;-->
<!--                        </button>-->

                        <div class="collapse navbar-toggleable-sm" id="tmNavbar">
                            <ul class="nav navbar-nav">
                                <li class="nav-item active">
                                    <br>
                                    <a href="/doc" class="nav-link">Home</a>
                                </li>
<!--                                <li class="nav-item">-->
<!--                                    <a href="hello" class="nav-link">About</a>-->
<!--                                </li>-->

                               <li class="nav-item dropdown">
                                   <br>

        <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" >
          Departments
        </a>
        <div class="dropdown-menu" >
            {% for c in departments %}
          <a class="dropdown-item" href="{{c.get_url}}">{{c.title}}</a>

            {% endfor %}


            <li class="nav-item">
                                <br>
                                    <a href="/book" class="nav-link">Book Appoinment</a>
                                </li>

<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
      </li>
                                <li class="nav-item active">
                                    <br>
<!--                                    <a href="/" class="nav-link">Book Appoinment</a>-->
                                </li>
                            </ul>
                        </div>

                    </nav>

                </div>
            </div>
        </div>



        <div class="tm-home-img-container">
            <img src="{% static 'img/hospital-background.jpg' %}" alt="Image" width="1525" height="600">
        </div>
<br>
<br>
<div>
        <section class="tm-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
                        <h2 class="tm-gold-text tm-title">{% if department %}{{department.title}} {% else %} DOCTORS LIST {% endif %}</h2>
                    </div>
                </div>
                <div class="row">

{% for x in doctors %}
                    <center>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-4">



                        <div class="tm-content-box">


<img src="{{x.image.url}}" alt="Image"  width="200px" height="200px">

                            <h4 class="tm-margin-b-20 tm-gold-text">{{x.name}}</h4>

                            <p class="tm-margin-b-20">Dept: {{x.department}}</p>

                          <a href="{{x.get_url}}" class="tm-btn text-uppercase">Details</a>

                            <a href="/book" class="tm-btn text-uppercase">Appoinment</a>


                        </div>

<br><br>
                    </div>
                        </center>
                    {% endfor %}



                     <!-- row -->


        </section>
        
        <footer class="tm-footer">
            <div class="container-fluid">
                <div class="row">
                    



                {% endblock %}
